/*{% extends "default" %}*/

/*{% block tz_app_header %}*/
    <link rel="stylesheet" type="text/css" href="css/base_template.css">
    <link rel="stylesheet" type="text/css" href="css/dynamicui.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.2.custom.css">
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="js/duiserver.js"></script>
    <link rel="shortcut icon" href="img/favicon.ico">
/*{% endblock %}*/
