[submodule "external/definitelytyped"]
	path = external/definitelytyped
	url = git://github.com/borisyankov/DefinitelyTyped.git
[submodule "external/uglifyjs"]
	path = external/uglifyjs
	url = git://github.com/mishoo/UglifyJS.git
[submodule "external/tzbuild"]
	path = external/tzbuild
	url = git://github.com/turbulenz/turbulenz_build.git
[submodule "tools/NvTriStrip"]
	path = tools/NvTriStrip
	url = git://github.com/turbulenz/NvTriStrip.git
