<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>2D Canvas - Samples - Turbulenz Engine</title>
    <link rel="stylesheet" type="text/css" href="css/base_template.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
    <div id="titlebar" class="ui-layout-north">
        <strong class="title">2D Canvas</strong>
        <div id="titlelogo"></div>
    </div>

    <div id="sidebar" class="ui-layout-west scrollable">
        <div class="html-control control-output-pair">Performance: <strong id="fpscounter" class="control-output"></strong></div>
    </div>

    <div id="engine" class="ui-layout-center">
      /*{{ tz_engine_2d_div }}*/
    </div>

    <!-- begin 'tz_include_js' variable -->
    /*{{ tz_include_js }}*/
    <!-- end 'tz_include_js' variable -->

    <script type="text/javascript">
      // ----------------------------------------
      // Embedded code and startup code.
      // Supplied by 'tz_startup_code' variable.
      // ----------------------------------------
      /*{{ tz_startup_code }}*/
    </script>

</body>
</html>
