/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/Material - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Material/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-radio">
    <form action="">
        <fieldset>
            <legend>Material</legend>
            <span>Base Texture</span><input type="radio" id="radio01"><br>
            <span>Coloured Material</span><input type="radio" id="radio02"><br>
            <span>New Texture</span><input type="radio" id="radio03">
        </fieldset>
    </form>
</div>
/*{% endblock %}*/
