/*{% extends "base/base_template.html" %}*/
/*{% block tz_app_header %}*/
    <link rel="stylesheet" type="text/css" href="css/base_template.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="Stylesheet" type="text/css" href="css/jquery-ui-1.8.2.custom.css"/>
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
/*{% endblock %}*/

/*{% block tz_app_title %}*/Multiple Animations - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Multiple Animations/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-output-pair">Performance: <strong id="fpscounter" class="control-output"></strong></div>
<div class="html-control control-output-pair">Character grid size: <input type="text" id="slider1input" size="2" value="0" class="control-textfield"></div>
<div class="html-control control-slider">
    <div id="slider1" class="sliderinput"></div>
</div>
/*{% endblock %}*/
