/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/Physics - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Physics/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-button">
    <span class="control-title">Reset demo</span>
    <input type="button" id="button01" value="Reset"/>
</div>

<div class="engine-control">
<table cellspacing="0">
<tbody>
<tr>
    <th>Key/Mouse</th><th>Camera Control</th>
</tr>
<tr>
    <td class="key">W,A,S,D</td>
    <td>Movement</td>
</tr>
<tr>
    <td class="mouse">Right/left click (hold)</td>
    <td>Manipulate box under crosshair</td>
</tr>
<tr>
    <td class="key">R</td>
    <td>Reset demo</td>
</tr>
<tr>
    <td class="key">Enter</td>
    <td>Toggle full screen</td>
</tr>
<tr>
    <td class="key">Escape</td>
    <td>Release mouse pointer</td>
</tr>
</tbody>
</table>
</div>
/*{% endblock %}*/
