/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/Physics Collision Meshes - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Physics Collision Meshes/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-checkbox">
    <span class="control-title">Enable Debug Rendering</span>
    <input type="checkbox" id="checkbox01"/>
</div>

<div class="engine-control">
<table cellspacing="0">
<tbody>
<tr>
    <th>Key/Mouse</th><th>Physics Control</th>
</tr>
<tr>
    <td class="key">W,A,S,D</td>
    <td>Movement</td>
</tr>
<tr>
    <td class="key">Space/Middle Mouse Button</td>
    <td>Fire Box</td>
</tr>
<tr>
    <td class="key">R</td>
    <td>Reset</td>
</tr>
<tr>
    <td class="mouse">Right/Left click (hold)</td>
    <td>Manipulate shape under crosshair</td>
</tr>
<tr>
    <td class="key">Enter</td>
    <td>Toggle full screen</td>
</tr>
<tr>
    <td class="key">Escape</td>
    <td>Release mouse pointer</td>
</tr>
</tbody>
</table>
</div>
/*{% endblock %}*/
