/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/Post Effects - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/Post Effects/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-radio">
    <form action="">
        <fieldset>
            <legend>Effect Type</legend>
            <span>Copy</span><input type="radio" id="radio01"><br>
            <span>Invert Color</span><input type="radio" id="radio02"><br>
            <span>Bloom</span><input type="radio" id="radio03">
        </fieldset>
    </form>
</div>
/*{% endblock %}*/
