/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/SVG - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/SVG/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-output-pair">Performance: <strong id="fpscounter" class="control-output"></strong></div>
<div class="html-control control-output-pair">
    SVG file:
    <input type="button" id="buttonloadsvgfile" value="Load" class="control-output" style="margin-top:13px;">
    <input type="text" id="svgfileinput" class="control-textfield">
</div>
/*{% endblock %}*/

