/*{% extends "base/base_template.html" %}*/

/*{% block tz_app_title %}*/SVG - Samples - Turbulenz Engine/*{% endblock %}*/
/*{% block tz_app_title_name %}*/SVG/*{% endblock %}*/

/*{% block tz_app_html_controls %}*/
<div class="html-control control-output-pair">Performance: <strong id="fpscounter" class="control-output"></strong></div>
<div class="html-control control-output-pair">
    SVG file:
    <input type="button" id="buttonloadsvgfile" value="Load" class="control-output" style="margin-top:13px;">
    <input type="text" id="svgfileinput" class="control-textfield">
</div>
<div class="html-control control-output-pair control-dropdownbox">
    Zoom:
    <select id="zoom">
        <option value="0.25">0.25x</option>
        <option value="0.5">0.5x</option>
        <option value="1" selected="selected">1x</option>
        <option value="2">2x</option>
        <option value="4">4x</option>
    </select>
</div>
/*{% endblock %}*/

