*.debug.html
*.release.html
*.canvas.js
*.tzjs
*.tzo
*.jsinc
_build
mapping_table.json
jslib
staticmax
models
shaders
textures
materials
shaders
sounds
/scripts
templates/*.d.ts
templates/*.js
templates/**/*.d.ts
templates/**/*.js
